**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
# **/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/.ruff_cache
.env
LICENSE
README.md
*.env.*
**/logs
**/sqlite.db
**/static_root
**/media_root
**/.python-version
**/.editorconfig
**/.coveragerc
**/.cache
**/.coverage
**/.pytest_cache
**/Makefile
**/htmlcov